/* .header h1 {
    font-family: monospace;
    font-weight: 500;
    line-height: 1.5;
    max-width: 300px;
    padding: 1em;
} */

* { /* Global */
    background-color: #f9f7e8
}

.text_header h1 {
    font-family: monospace;
    padding: 0.5em;
    position:absolute;
    bottom: 0px;
}

#typewriter_1 {
    color: #355483;
    font-weight: bold;
}

/* Cursor blinking animation */
#cursor {
    color: #355483;
    animation: cursor_blink 1s linear infinite;
}

@keyframes cursor_blink {
    0% {opacity: 100%;}
    50% {opacity: 0%}
}